bin/
pkg/
.DS_Store
*.pyc
*.swp
*~
.vscode/
.vs/
.idea
.skaffold-*.yaml
.kubernetes-manifests-*/

src/adservice/\.project

src/adservice/\.settings/org\.eclipse\.buildship\.core\.prefs

results/logs\.json
