<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
  <Loggers>
    <Logger name="io.grpc.netty" level="INFO"/>
    <Logger name="io.netty" level="INFO"/>
    <Logger name="sun.net" level="INFO"/>
    <Root level="TRACE">
      <AppenderRef ref="STDOUT"/>
    </Root>
  </Loggers>
</Configuration>
